*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.video{
    width: 500px;
    height: 500px;
}
